@media (max-width: 700px) /*can now be viewed in mobile version on nexus 7*/ {
      
   #all {
      display: block;
      width: 90%;
      font-size: 150%;
   }
   
<<<<<<< HEAD
=======
   nav {
      display: block;
      width: 100%;
      height: auto;
      align: center;
   }
   
>>>>>>> 1fa55bcd4e0afafb976147c2b6bb7c3ac1969379
   details {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      font-size: 125%;
   }
   
   h2 {
      font-size: 175%;
   }
   
<<<<<<< HEAD
=======
   img {
      width: 100%;
      background-color: white;
      align: left;
   }
   
>>>>>>> 1fa55bcd4e0afafb976147c2b6bb7c3ac1969379
   #content{
      display: block;
      width: 95%;
      height: auto;
      padding-left: 5%;
   }
   
   footer {
      display: block;
      width: 100%;    
   }
   
<<<<<<< HEAD
}
=======
}
>>>>>>> 1fa55bcd4e0afafb976147c2b6bb7c3ac1969379
